# Ignore everything
*

# But not these files...
!.gitignore
!Yggakarn.db
!Yggakarn.db.old
!Yggakarn.fwl
!Yggakarn.fwl.old

!Anaheim.db
!Anaheim.db.old
!Anaheim.fwl
!Anaheim.fwl.old
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/a/b/file1.txt
!*/a/b/c/*